body {
  background-color: #221C1C;
}

/* LOGO SECTION */
#logo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.logo-image {
  width: 80%;
  height: 80%;
}

.menu-heading {
  font-size: 5.5rem;
  margin-bottom: 50px;
  color: #f58b54;
  text-align: right;
  margin-right: 100px;
}

.col-colored {
  background-color: #706c61
}

.menu-item-price {
  color: #fff;
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.menu-item {
  color: #fff;
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: right;
}

/* HOT BEVARAGES SECTION */
#hot-bevarages {
  text-align: center;
  margin-bottom: 100px;
}

.container-hot-bevarages {
  padding-left: 100px;
}
